<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179682858147-t97o3oadok25d6j0cbqsfmqg42216pad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179682858147-t97o3oadok25d6j0cbqsfmqg42216pad</string>
	<key>API_KEY</key>
	<string>AIzaSyDk83FDTiGa2WTP0__PqMCuGUIOLtT4MAs</string>
	<key>GCM_SENDER_ID</key>
	<string>179682858147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-5ae90</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-5ae90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179682858147:ios:123347f08269f2999e1b16</string>
</dict>
</plist>